# Librerías para trabajar con APIs y datos
requests
httpx
pandas
pyarrow

# Conectores de bases de datos (elige el que necesites)
sqlalchemy
psycopg2-binary  # PostgreSQL
snowflake-connector-python  # Snowflake
google-cloud-bigquery  # BigQuery

# Automatización
apache-airflow
apache-airflow-providers-postgres  # Para PostgreSQL en Airflow
apache-airflow-providers-google  # Para GCP en Airflow

# Visualización (si usas Jupyter para validar datos)
jupyterlab
